<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/play_config.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    <div class="busy-indicator"></div>
    <div id="main">
<h1>Play Configuration Console</h1>
<p>Play-Config is a <a href="http://www.playframework.org">Play! Framework</a> plugin enable you to load your 
configuration data from conf/application.conf to database. Basically Play-config enable you to modify the 
configuration without touch application.conf and hence no need to restart Play. One additional benefit is
that since your config is stored in your database, when you update application.conf from your source repository
the test conf will not impact the current running system.</p> 
<div id="config">
#{list items:configuration}
<div class="field">
<label for="${_.pc_key().slugify()}">${_.pc_key()}</label><br/>
<input type="text" class="value" id="${_.pc_key().slugify()}" title="${_.pc_key()}" value="${_.pc_value()}" size="120">
</div>
#{/list}
</div>
<script type="text/javascript">
$(function(){
  $('body').ajaxSend(function(e, xhr, settings){
    $('#busy-indicator').addClass('busy');
  });
  $('body').ajaxComplete(function(){
    $('#busy-indicator').removeClass('busy');
  });  
});

$('input.value').change(function(){
  var $_ = $(this), key = $_.attr('title'), val = $_.val();
  $.post("@{play_config.Console.update()}", {key: key, value: val}, function(resp){
    if (resp && resp.error) {
      alert("Invalid value!");
      $_.val(resp.old_value).focus();
    } else if (resp && resp.script) {
      eval(resp.script);
    }
  });
});
</script>
<div class="actions">
#{form @index(), class: "action", method: "get"}
<input type="submit" value="reset" title="reset configuration to previous state"/>
#{/form} 
#{form @reset(), class: "action"}
<input type="submit" value="reload" title="reload configuration from application.conf"/>
#{/form} 
#{form @restart(), class: "action"}
<input type="submit" value="restart" title="restart Play"/>
#{/form}
</div>
    </div>
    </body>
</html>
